body {
  width: 20em;
}

#changeColor {
  width: 100%;
  padding-block: 0.5em;
  background: linear-gradient(
    90deg,
    #ee0000,
    #ffff00,
    #00ee00,
    #00eeff,
    #7e7e7e
  );

  margin-bottom: 1em;
}

#changeColor[data-on="true"] {
  background: lightgray;
}
